
.hidden { display: none;}

body {
  background-color: #fff;
  font-size: 100%;
  font-family: "ROBOTO", Arial, Helvetica, sans-serif;
}

h2 {padding: 0.5em; font-size: 2em; margin-top: 1em;}

main { width: 100%; background-color: #EAFBFF;}

.mainHeader {
  background-color: #312783;
  color: white;
  padding: 1em;
  height: 80px;

  position: sticky; top:auto;
}

.bannerCon {
  color: white;
}

.bodyCon {
  color: white;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footerCon {
  height: 200px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;

  grid-template-areas:
    "MainNavCon MainNavCon"
    "SubNavCon SubNavCon"
}
#MainNavCon { grid-area: MainNavCon; justify-content: space-between; align-items: center;}
#SubNavCon { grid-area: SubNavCon; justify-content: space-between;}

/* ----------- Header starts --------   */

#navContainer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#logoCon {
  height: 10px;
  display: flex;
  align-items: center;
  margin: 1em;
}

#logoCon:hover { transform: scale(1.08); }

/* navigation burger*/

#mainNav {
	display: flex;
	flex-direction: column;
  width: 100%;
	margin-bottom: 20px;
}

#mainNav button { margin-left: auto; }

#burgerCon {
	display: none; /*hide intitially*/
  margin-top: 15px; /*bump menu below 3 lines*/
  background-color: #312783;
}

 #burgerCon.slideToggle { display: block; }

 #mainNav button {
  background: url(../images/icons/burger.svg) center no-repeat;
  border: 1px;
  width: 30px;
  height: 30px;
  transition: all 400ms ease;
}

 .expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}


#mainNav li a {
  font-weight: 900;

	background-color: #2472B8;
	display: block;
	color: #fff;
	padding: 20px 0 20px 0;
	text-align: center;

  text-decoration: none;
}

#mainNav li { border-bottom: 1px solid #fff; }

#mainNav li:first-child { border-top: 1px solid #fff; }

#mainNav li:last-child { margin-bottom: 10px; }

#mainNav li a:hover { background-color: #fff; color: #2472B8;}

.button {
	display: block;
	width: 140px;
  background-color: #E10B14;
	color: #fff;
  border-radius: 5px;
	padding: 10px 0;

	text-align: center;
	text-decoration: none;
	font-size: 20px;
  font-weight: 800;
	margin: auto auto 20px auto;
}

.button:hover {
	background-color: #fff;
  color: #E10B14;
}

.logInButton {
  text-decoration: none;

	background-color: #fff;
	width: 170px;
	color: #E10B14;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 20px 5px 20px 5px;
	border-radius: 5px;
	margin-top: 10px;
  margin-bottom: 10px;
	font-size: 15px;
	transition: all .5s ease;
}

.logInButton:hover { color: #fff; background-color: #E10B14; }

/* ----------- Footer starts --------   */

.footerBox {
  background-color:#312783;
  color: white;
  margin-top: 5px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

#footerNavCon nav { width: auto; margin: auto; }

#footerNavCon nav ul { overflow: hidden; list-style: none;}

#footerNavCon nav ul li { float: left;}

#footerNavCon nav ul li a{
  display: block;

  width: 120px;
  color: #fff;
  text-align: center;
	padding: 10px;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

#footerNavCon nav ul li a:hover {
  color: #2472B8;
  border-bottom: 3px solid #2472B8;
}

#copyRight {
  width: 70%;
  font-size: 12px;
  line-height: 1.2em;
  margin-right: 15px;
}

#copyRight p { margin-bottom: 1.5em; }

#footerSubNav {
  width: 110px;
}

#footerSubNav svg {
  width: 35px;
  margin: 5px;
}

#footerSubNav svg:hover {
  transform: scale(1.08);
}

/* HOME */  /* ----------- Main Banner starts --------   */

#imageBanner {
  padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;

	/*background-image: url(../images/lo-res_MOBILE/promo/Mobile_beer_promo1.jpg);*/
  background-image: url(../video/gif/grolsch_0Alcohol_promo1_Mobile.gif);
	background-repeat: no-repeat;
	background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.textBannerBlock {
  display: block;
  text-align: center;
  margin: 20em auto auto auto;
  width: 100%;

  animation: bannerAnim 4.1s steps(10) infinite;
}

@keyframes bannerAnim {
  0% { opacity: 0%;}
  35% { opacity: 0%;}
  45% { opacity: 100%;}
  90% { opacity: 100%;}
  100% { opacity: 0%;}
}

.textBannerBlock h2 {
	font-size: 3em;
	font-weight: bold;
	color: #312783;
}

.textBannerBlock p {
	font-size: 15px;
	color: #312783;
  margin-top: -1em;
	line-height: 20px;
	margin-bottom: 1em;
}


#seeMore {
	display: block;
	width: 140px;
  background-color: #E10B14;
	color: #fff;
  border-radius: 5px;
	padding: 10px 0;

	text-align: center;
	text-decoration: none;
	font-size: 20px;
  font-weight: 800;
	margin: auto auto 20px auto;
}

#seeMore:hover {
	background-color: #fff;
  color: #E10B14;
}


/* ----------- Body starts --------   */

.homeBodyCon {
	width: 350px;
  height: 250px;
	color: #fff;
	margin: 20px;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	font-size: 15px;

  display: flex;
  box-sizing: content-box;
  position: relative;
  justify-content: flex-end;

}

.homeBodyCon:hover {transform: scale(1.05);}

.homeBodyCon a {text-decoration: none; color: white;}

.textBoxCon {
  background-color: transparent;
  margin-top: 20%;
  margin-left: 10%;
  padding: 10px;
}

.textBoxCon h2 { font-weight: 900; }

.historyHome {
  background-image: url(../images/hi-res_WEB/context/Web_home_history_btn.jpg);
	background-repeat: no-repeat;
	background-position: center;
  background-size: cover;
}

.beerHome {
  background-image: url(../images/hi-res_WEB/products/Web_home_beer_btn.jpg);
	background-repeat: no-repeat;
	background-position: center;
  background-size: cover;
}

 .titleBeer{color: #312783;}

/* our Beer*/  /* ----------- Main Banner starts --------   */

#videoBannerCon {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#bannerVideo {width: 100%;}

.musicBtnCon {
  display: block;
  position: absolute;
  text-align: center;
  margin: auto;
  width: 100%;

  animation: videoBtn 15s steps(10) infinite;
}

@keyframes videoBtn {
  0% { transform: scale(0.7);opacity: 50%;}
  2% { transform: scale(0.7);opacity: 50%;}
  4% { transform: scale(1); opacity: 100%;}
  6% { transform: scale(0.8);}
  8% { transform: scale(1); opacity: 100%;}
  10% { transform: scale(0.7); opacity: 50%;}
  100% { transform: scale(0.7); opacity: 50%;}

}

.musicBtnCon h2 {
	font-size: 3em;
	font-weight: bold;
	color: #312783;
}


.playAudio{
	display: block;
	width: 140px;
  background-color: #312783;
	color: #fff;
  border-radius: 5px;
  border-color: transparent;
	padding: 10px 0;

	text-align: center;
	text-decoration: none;
	font-size: 20px;
  font-weight: 800;
	margin: auto auto 20px auto;
}

.playAudio:hover {
	background-color: #fff;
  color: #312783;
}

/* ----------- Body starts --------   */

.beerBodyCon {
	width: 350px;
  height: 250px;
	color: #fff;
	margin: 20px;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	font-size: 15px;

  display: flex;
  box-sizing: content-box;
  position: relative;
  justify-content: flex-end;

}

.beerBodyCon:hover {transform: scale(1.05);}

.beerBodyCon a {text-decoration: none; color: white;}

.titleProduct {
  background-color: transparent;
  margin-top: 20%;
  margin-left: 10%;
  padding: 10px;
}

.titleProduct h2 { font-weight: 900; }

.prod1Beer {
  background-image: url(../images/lo-res_MOBILE/products/Mobile_beer_0_Alcohol.jpg);
	background-repeat: no-repeat;
	background-position: center;
  background-size: cover;
}

.prod2Beer {
  background-image: url(../images/lo-res_MOBILE/products/Mobile_beer_mint.jpg);
	background-repeat: no-repeat;
	background-position: center;
  background-size: cover;
}

.prod3Beer {
  background-image: url(../images/lo-res_MOBILE/products/Mobile_beer_White.jpg);
	background-repeat: no-repeat;
	background-position: center;
  background-size: cover;
}

/* HISTORY*/  /* ----------- Main Banner starts --------   */

#historyBanner {
  padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;

  background-image: url(../images/hi-res_WEB/context/Web_history_banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.textHistoryBlock {
  display: block;
  text-align: center;
  margin: 20em auto auto auto;
  width: 100%;
}

.textHistoryBlock h2 {
	font-size: 3em;
	font-weight: bold;
	color: #fff;
}

#historyTextCon {
	background-color: #2472B8;
  padding: 3em;
}

#historyTextCon > .textHistoryBlock {display: none;}
.historyText p {
	font-size: 15px;
	color: #fff;
  margin-top: 1em;
	line-height: 20px;
	margin-bottom: 1em;
}

.historyText p span {
	font-weight: 800;
  font-size: 16px;
}

#brewerBanner {
  height: 250px;

  background-image: url(../images/lo-res_MOBILE/context/Mobile_history_shield.jpg);
	background-repeat: no-repeat;
	background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items:flex-start;
}

.textBrewerBlock {
  display: block;
  width: 70%;
  margin-left: 40%;
}


.textBrewerBlock h2 {
  text-align: center;
  margin: 1em auto;
  font-size: 3em;
	font-weight: bold;
	color: #fff;
}

#shieldTextCon {
  padding: 3em;
}

#shieldTextCon > .historyText p {
  color: #312783;
}

#shieldTextCon > .historyText p span {
  color: #E10B14;
}

/* CONTACT US*/  /* ----------- Main Banner starts --------   */

#contactCon{
  padding: 10px;
  margin: 0 auto;
  background-color: #A6E3F0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formHeadBlock {
  margin: auto 0;
  padding: 0 3em 0 3em;
}


.formHeadBlock h2 {
  text-align: center;
  font-size: 3em;
	font-weight: bold;
	color: #E10B14;
}

.formHeadBlock p {
  text-align: center;
	color: #312783;
}

.formBlock {
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  padding: 1em;
}

form {
  align-items: center;
  justify-content: center;

  width: 100%;
  font-size: 1.3em;
  color: #ccc;
  padding: 1em;
  margin: 0 auto;
}

form p {font-weight: 800;}

input, textarea, select {
  outline: none;
  border: 0;
}

.contactForm { color: #312783}

.field {
  margin: 0.5em auto 0.5em auto;
  font-family: "ROBOTO", Arial, Helvetica, sans-serif;
  border-radius: 3px;
  color: #2472B8;
  padding: 10px;
  width: 80%;
}

/* LOG IN*/  /* ----------- Main Banner starts --------   */

#loginFormsCon {width: 100%;}

#logInCon{
  padding: 10px;
  margin: 0 auto;
  background-color: #2472B8;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logInCon h2, #updateCon h2, #updateCon p { color: #fff;}

.logInForm p { margin-top:0.5em; color: #fff;}

.linkTxt {
  color: #fff;
  text-decoration: underline;
  text-align: center;
}

.linkTxt:hover {
  font-weight: 800;
  cursor: default;
}

#updateCon{
  padding: 10px;
  margin: 0 auto;
  background-color: #E10B14;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#subscButton {
  margin: 1em auto;
  background-color: #2472B8;
  color: #fff;
}

#subscButton:hover {
  background-color: #fff;
  color: #2472B8;
}

.logInImg {display: none;}

/* ----------- screens diplay - Responsive --------   */

@media screen and (min-width: 640px) {
  main { width: 100%; margin: auto;}

/* ----------- Main Banner starts --------   */

  #imageBanner {
    width: auto;
    height: 500px;
    /*background-image: url(../images/hi-res_WEB/promo/Web_beer_promo1.jpg);*/
    background-image: url(../video/gif/grolsch_0Alcohol_promo1_WEB.gif);
    background-position: center;
    flex-direction: row;
  }

  .textBannerBlock {
    text-align: left;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto 0 auto 1em;
    width: 50%;
    animation: stop;
  }

  .textBannerBlock h2 {
    text-align: left;
    font-size: 4em;
  }

  .textBannerBlock p {
    text-align: left;
    font-size: 1.3em;
    margin-left: 1.3em;
  }

  #seeMore {
  	margin-left: 1.3em;
  }

  /* ----------- home bodyContainer starts --------   */

  .bodyCon { flex-direction: row; }

  /* ----------- footer starts --------   */

  #copyRight {
    width: 80%;
    font-size: 14px;
  }

  /* ----------- Our Beer bodyContainer starts --------   */

  .beerBodyCon {
    width: 250px;
    height: 350px;
    padding: 5px;

    justify-content: center;
    align-items: flex-end;
  }

  .titleProduct {
    margin-top: 20%;
    margin-left: auto;
    padding: 10px;
  }

  .prod1Beer {
    background-image: url(../images/hi-res_WEB/products/Web_beer_0_Alcohol.jpg);
  }

  .prod2Beer {
    background-image: url(../images/hi-res_WEB/products/Web_beer_mint.jpg);
  }

  .prod3Beer {
    background-image: url(../images/hi-res_WEB/products/Web_beer_White.jpg);
  }

  /* ----------- History bodyContainer starts --------   */
  .historyHead {
    display: flex;
    flex-direction: row-reverse;
  }
  #historyBanner { width: 40%;}
  #historyTextCon { width: 60%;}

  #historyBanner > .textHistoryBlock {display: none;}

  #historyTextCon > .textHistoryBlock { display: block; margin:1em auto auto auto;}


  #brewerBanner {

    background-image: url(../images/hi-res_WEB/context/Web_history_shield.jpg);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .textBrewerBlock {
    margin-left: 70%;
    width: 65%;
  }

  .textBrewerBlock h2 {
    text-align: left;
    width: 100%;
    margin: auto;
  }

  #shieldTextCon {display: none; }
  #shieldTextConHide {
    display: inline;
    margin: auto;

  }
  #shieldTextConHide > .historyText {
    margin: 1.3em;
  }

  #shieldTextConHide > .historyText p {
    color: #fff;
  }
  #shieldTextConHide > .historyText p span {
    color: #A6E3F0;
  }

  /* ----------- Contact us bodyContainer starts --------   */
  #contactCon {
    max-width: 700px;
    margin: 1em auto;
    border-radius: 10px;
  }

  /* ----------- LOG IN bodyContainer starts --------   */
  .loginHead {
    display: flex;
    flex-direction: row;
  }
  #loginFormsCon { width:60%;}
  #logInImg {
    display:block;
    width:40%;

    background-image: url(../images/hi-res_WEB/context/Web_login.jpg);
  	background-repeat: no-repeat;
  	background-position: center;
    background-size: cover;
  }
}


@media screen and (min-width: 1200px) {
  main {width: 1200px; margin: auto; }

  /* --- menu starts for screen 620px ---   */

    #button { display: none; }

    #burgerCon {
      /*display: block;*/
      display: flex;
      flex-direction: row;
      margin: 0;
    }

    #logoCon { margin-right: 5em;}

    #mainNav {margin: auto;}

    #burgerMenu { text-align: right; overflow: hidden;}

    #mainNav li {
      display: inline-block;
      padding: 20px;
      border-color: transparent;
    }

    #mainNav li a {display: inline; padding: 20px; }

    #mainNav li:first-child { border-top: 0px; }

    .logInButton {
    	width: 170px;
      height: 20px;
    	margin-top: 0;
      margin-bottom: 0;
    }


  .footerCon {
    height: 140px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;

    grid-template-areas:
      "MainNavCon SubNavCon"
      "MainNavCon SubNavCon"
  }
  #MainNavCon { grid-area: MainNavCon; }
  #SubNavCon { grid-area: SubNavCon; }

  #copyRight { font-size: 14px; }

}
